<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reset</title>
    <!-- CSS stylesheets -->
    <link rel="stylesheet" href="./login.css" type="text/css">
</head>

<body>
<div class="top"></div>
<div class="container-fluid vertical-center">
    <div class="row">
        <form class="box">
            <h1 class="form-name">Reset Password</h1>
            <input class="placeholders" type="email" placeholder="E-Mail">
            <input class="btn-submit" type="submit" name="" value="Reset" href="index.html">
            <p class="forgot"> Don't have an account? <a href="register.html">Create new account</a></p>
        </form>
    </div>
</div>

<script src="js/main.js"></script>
</body>

</html>