.responsiveGridContainer {
    border-right: none;
    border-bottom: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.topicStyle {
    color: #fdfdfdce;
}

.todoCountContainer {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}


.dateInput{
    background: linear-gradient(312deg, #464D68FF 2%, rgb(43, 42, 42) 87%);
}


.dashboardItem {
    color: white;
    overflow: scroll;
    scrollbar-width: none;

    text-align: center;
    font-size: 2em;
    border-radius: 15px;
    box-shadow: 0 0 10px #0d0b18;
    background: linear-gradient(312deg, #464d68 2%, rgb(43, 42, 42) 87%);
    backdrop-filter: blur(10px);
    border-left: 2px solid #fdfdfd3a;
    border-bottom: 2px solid #43558f1a;
    margin-left: 12.5%;
}
.dashboardItemView{
    color: white;
    text-align: center;
    font-size: 2em;
    border-radius: 15px;
    box-shadow: 0 0 10px #0d0b18;
    background: linear-gradient(312deg, #464d68 2%, rgb(43, 42, 42) 87%);
    border-left: 2px solid #fdfdfd3a;
    border-bottom: 2px solid #43558f1a;
    margin-left: 12.5%;
}
.itemLeft{
}
.userItem{
    color: white;
    width: 48%;
    margin: 1% 1% 1% 1%;
    text-align: center;
    font-size: 0.5em;
    border-radius: 15px;
    background: linear-gradient(312deg,#455bbd1f 2%, rgba(255,255,255,0.2) 87%);
    backdrop-filter: blur(10px);
}
@media only screen and (max-width: 860px){
    .dashboardItem{
        margin-left: 0;
        color: white;
        overflow: scroll;
        text-align: center;
        font-size: 2em;
        border-radius: 15px;
        box-shadow: 0 0 10px #0d0b18;
        background: linear-gradient(312deg, #464d68 2%, rgb(43, 42, 42) 87%);
        backdrop-filter: blur(10px);
        border-left: 2px solid #fdfdfd3a;
        border-bottom: 2px solid #43558f1a;
    }
    .userItem{
        color: white;
        width: 50%;
        text-align: center;
        font-size: 0.5em;
        border-radius: 15px;
        box-shadow: 0 0 10px #0d0b18;
        background: linear-gradient(312deg, #464d68 2%, rgb(43, 42, 42) 87%);
        backdrop-filter: blur(10px);
        border-left: 2px solid #fdfdfd3a;
        border-bottom: 2px solid #43558f1a;
    }
    .dashboardItemView{
        margin-left: 0;
        color: white;
        text-align: center;
        font-size: 2em;
        border-radius: 15px;
        box-shadow: 0 0 10px #0d0b18;
        background: linear-gradient(312deg, #464d68 2%, rgb(43, 42, 42) 87%);
        border-left: 2px solid #fdfdfd3a;
        border-bottom: 2px solid #43558f1a;
    }
}
@media (max-width: 881px){
    .dashboardItem{
        color: white;
        width: 50%;
        text-align: center;
        font-size: 1em;
        border-radius: 15px;
        box-shadow: 0 0 10px #0d0b18;
        background: linear-gradient(312deg,#455bbd1f 2%, rgba(255,255,255,0.2) 87%);
        backdrop-filter: blur(10px);
        border-left: 2px solid #fdfdfd3a;
        border-bottom: 2px solid #43558f1a;
    }
    .dashboardItemView{
        color: white;
        text-align: center;
        font-size: 2em;
        border-radius: 15px;
        box-shadow: 0 0 10px #0d0b18;
        background: linear-gradient(312deg, #464d68 2%, rgb(43, 42, 42) 87%);
        border-left: 2px solid #fdfdfd3a;
        border-bottom: 2px solid #43558f1a;
    }


}
.todoHeaderDashboard{
    margin-top: 0.5rem;
    font-size: 2rem;
    color: #33a382;
}

.todoHeaderDashboard.mobile {
    font-size: 1.5rem;
}

rect{
    fill:none;
}
/*empty{*/
/*    background: linear-gradient(312deg,#455bbd1f 2%, rgba(255,255,255,0.2) 87%);*/
/*    color: white;*/
/*}*/
.userInfo{
    width: 100%;
    height: 100%;
    display: flex;
}
.item-profile{
    color: white;
    text-align: center;
    font-size: 0.5em;
    border-radius: 15px;
    box-shadow: 0 0 10px #0d0b18;
    backdrop-filter: blur(10px);
    border-left: 2px solid #fdfdfd3a;
    border-bottom: 2px solid #43558f1a;
    background-color: #38b6905d !important;
    background: linear-gradient(312deg,#9dafff15 2%, #9dafff15 87%);
    overflow: hidden;
}
.dash-box{
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
}
.date-day{
    font-size:2rem;
    font-weight: bold;
    margin-top:43px;
    margin-bottom:-10px;
}
.date-month{
    font-size: 1.15rem;
    margin:-15px;
    padding: 5px 10px;
    background-color: #12142077;
    border-bottom: 6px solid #090b1b;
}
.username{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.allNmb{
    margin-top: 6%;
}
.chats{
    color: white;
}
.charty{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.containerChart {
    margin-left: 5rem;
    margin-right: 5rem;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerChart.mobile {
    margin-left: 1rem;
    margin-right: 1rem;
}
