.MuiButtonBase-root.addIcon{
    position: fixed;
    right: 1%;
    top: 90%;

}
.dashBoardContainer {

}
html, body{
    font-family: Helvetica Neue, Arial, sans-serif;
    width: 100%;
    height: 100%;
    background: #0d0b18;
    background: linear-gradient(0deg, #09080a 0%, #151e25 36%, #0b0d18 79%, #0c0c11 100%);
    scroll-behavior: smooth;
}

.dashboardItem{
    color: white;
    overflow: scroll;
    text-align: center;
    font-size: 2em;
    border-radius: 15px;
    box-shadow: 0 0 10px #0d0b18;
    background: linear-gradient(312deg,#455bbd1f 2%, rgba(255,255,255,0.2) 87%);
    backdrop-filter: blur(10px);
    border-left: 2px solid #fdfdfd3a;
    border-bottom: 2px solid #43558f1a;
}
.userItem{
    color: white;
    width: 50%;
    text-align: center;
    font-size: 0.5em;
    border-radius: 15px;
    box-shadow: 0 0 10px #0d0b18;
    background: linear-gradient(312deg,#455bbd1f 2%, rgba(255,255,255,0.2) 87%);
    backdrop-filter: blur(10px);
    border-left: 2px solid #fdfdfd3a;
    border-bottom: 2px solid #43558f1a;
}
@media only screen and (max-width: 860px){
    .dashboardItem{
        margin-left: 0em;
        color: white;
        overflow: scroll;
        text-align: center;
        font-size: 1em;
        border-radius: 15px;
        box-shadow: 0 0 10px #0d0b18;
        background: linear-gradient(312deg,#455bbd1f 2%, rgba(255,255,255,0.2) 87%);
        backdrop-filter: blur(10px);
        border-left: 2px solid #fdfdfd3a;
        border-bottom: 2px solid #43558f1a;
    }
    .userItem{
        color: white;
        width: 50%;
        text-align: center;
        font-size: 0.5em;
        border-radius: 15px;
        box-shadow: 0 0 10px #0d0b18;
        background: linear-gradient(312deg,#455bbd1f 2%, rgba(255,255,255,0.2) 87%);
        backdrop-filter: blur(10px);
        border-left: 2px solid #fdfdfd3a;
        border-bottom: 2px solid #43558f1a;
    }
}
@media (max-width: 881px){
    .dashboardItem{
        color: white;
        width: 50%;
        text-align: center;
        font-size: 0.5em;
        border-radius: 15px;
        box-shadow: 0 0 10px #0d0b18;
        background: linear-gradient(312deg,#455bbd1f 2%, rgba(255,255,255,0.2) 87%);
        backdrop-filter: blur(10px);
        border-left: 2px solid #fdfdfd3a;
        border-bottom: 2px solid #43558f1a;
    }


}

rect{
    fill:none;
}
empty{
    background: linear-gradient(312deg,#455bbd1f 2%, rgba(255,255,255,0.2) 87%);
    color: white;
}
.userInfo{
    width: 100%;
    height: 100%;
    display: flex;
}
.item-profile{
    color: white;
    text-align: center;
    font-size: 0.5em;
    border-radius: 15px;
    box-shadow: 0 0 10px #0d0b18;
    backdrop-filter: blur(10px);
    border-left: 2px solid #fdfdfd3a;
    border-bottom: 2px solid #43558f1a;
    background-color: #38b6905d !important;
    background: linear-gradient(312deg,#9dafff15 2%, #9dafff15 87%);
    overflow: hidden;
}
.dash-box{
    width:100%;
    height: 100%;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(312deg,#9dafff15 2%, #9dafff15 87%);
    backdrop-filter: blur(10px);
    overflow-y:auto;
}
