.fixedRightContainer{
    position: fixed;
    right: 20px;
    bottom:0;
}
/*@media only screen and (max-width: 900px) {*/
/*    .fixedRightContainer{*/
/*        position: fixed;*/
/*        right: -10px;*/
/*        bottom:-12px;*/
/*    }*/
/*}*/

.modalContainer {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalChild {
    background-color: gray;
}

.modal {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /*margin: auto;*/

}

.modalBox {
    background: linear-gradient(312deg, #464d68 2%, rgb(43, 42, 42) 87%);
    border-radius: 0.5rem;
    width: 550px;
    height: 500px;
    color: white;
    position: relative;
}

.modalBox.mobile {
    width: 400px;
    height: 560px;
}

.modalBox.topic {
    width: 400px;
    height: 200px;
}

.modalCenter{
    margin-top: 4%;
    justify-content: center;
    align-items: center;
}
.input-border {
    border-color: #3E68A8 !important;
}

.inputLabel {
    color: #3E68A8 !important;
}

.helper-text {
    text-transform: initial;
    font-size: 1rem !important;
}

/*content*/
.contentWrapper {
    margin: 20px 20px 20px 20px;
}

.modalHeading {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalHeading.mobile {
    justify-content: space-between;
}
.modalHeadingDynamic {
    /*width: 80%;*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    display: -webkit-box;
}

.tdTitleLabel {
    font-size: 1.25rem;
}
.tdTitleStyle {
    width: 100%;
    flex-grow: 1;
}

.tdTitleRow {
    margin-top: 20px;
    display: flex;
    justify-items: center;
}
.tpIconRight {
    height: 100%;
    /*width: 100%;*/
}

.tpIconRight.regular {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-left: 20px;
}

.tpIconRight.header {
    position: absolute;
    top: 0;
    right: 0;

}

.tdTopicRow {
    display: flex;
    justify-items: center;
}

.tdTopicAddStyle {
    flex-grow: 1;
    margin-left: 5px;

    display: flex;
    justify-items: center;
    align-items: center;
}
.tdTopicStyle {
    width: 100%;
    flex-grow: 1;
}

.tdDatePicker {
    width: 100%;
}

.gridSpacer {
    margin-bottom: 20px;
}

.btnAddContainer {
    margin-top: 10px;
    width: 100%;
}

.btnAddTopic {
    width: 100%;
}

.bottomBtnGroup {
    position: absolute;
    margin: 0 20px 20px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.bottomBtnGroup.leftGroup {
    justify-content: space-between;
}

.bottomBtnGroupContainer {
    width: 100%;
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: flex-end;
}
.bottomBtnGroupContainer.leftGroup {
    justify-content: space-between;
}

.bottomBtnGroupR {
    display: flex;
    gap: 10px;
}

.btn {
    width: 70px;
}

.btn.delete {
    width: 10px;
}

.desktopBtn {
    width: 100px;
}