@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body:not(Header){
    position: relative;
    min-height:100vh;
    width: 100%;
    margin-top: 4.5%;
}
@media (max-width: 991px){
    body:not(Header){
        position: relative;
        min-height:100vh;
        width: 100%;
        margin-top: 10%;
    }
}
@media (max-width: 881px){
    body:not(Header){
        position: relative;
        min-height:100vh;
        width: 100%;
        margin-top: 15%;
    }
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 240px;
}
.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;

}
.sidebar.active .logo_content .logo{
    width: 240px;
    opacity: 1;
    pointer-events: none;
}
.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}
.logo_content .logo .logo_name{
    font-size : 20px;
    font-weight: 400;
}
.sidebar #btn{
    position: absolute;
    color: #fff;
    top: 6px;
    left: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
}
.sidebar.active #btn{
    left: 90%;
}


.sidebar .nav_list{
    margin-top: 20px;
}

.sidebar .nav_list .nav_container {
    display: flex;
    justify-content: space-around;
}

.sidebar .nav_list .nav_item {
    list-style: none;
}

.sidebar .nav_list .nav_item .nav_dynamic{
    position: relative;
    height: 50px;
    width: 100%;
    margin:0 5px;
    line-height: 50px;
}
.sidebar .nav_list .nav_item .nav_static{
    position: relative;
    height: 50px;
    width: 50px;
    margin:0 5px;
    line-height: 50px;
}


.sidebar .nav_list .nav_item a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 10px;
    white-space: nowrap;
}
.sidebar .nav_list .nav_item a:hover {
    color:#11101d;
    background: #fff;
}
.sidebar .nav_list .nav_item i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}



.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;

}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #1d1b31;
}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;

}
.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;

}
.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_details .name_job{
    margin-left: 10px;
}

.profile .profile_details .name{
    font-size:15px;
    font-weight: 400;
}
.profile .profile_details .job {
    font-size: 12px;
}
.profile #log_out{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
}
.sidebar.active .profile #log_out{
    left: 88%;
}
.home_container1{
    position: absolute;
    height: 100%;
    width: calc(100% - 8em);
    left: 78px;
    transition: all 0.5s ease;
    background: pink;
    margin: 0 auto;
    max-width: calc(100% - 8em);
}
.home_container{
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
    background-color: #61dafb;
}
.sidebar.active ~ .home_container{
    width: calc(100% - 240px);
    left: 240px;
}

