/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: sans-serif;*/
/*}*/
.nav_header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0 100px;
    background: #262626;
    width: 100%;
    background: linear-gradient(312deg,#455bbd1f 2%, rgba(255,255,255,0.2) 87%);
}
.nav_header .logo {
    color: #FFF;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}
.nav_header nav {
    float: right;
}
.nav_header nav .nav_list {
    margin: 0;
    padding: 0;
    display: flex;
}
.nav_header nav .nav_list .nav_item {
    list-style: none;
}
.nav_header nav .nav_list .nav_item a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #FFF;
    text-decoration: none;
    display: block;
}
.nav_header nav .nav_list .nav_item a:hover {
    color: #FFF;
    background: #3674a6;
}
.nav_header nav .nav_list .nav_item a.active {
    color: #FFF;
    background: #2196F3;
}
.menu-toggle {
    color: #FFF;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
@media (max-width: 991px) {
    .nav_header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    .nav_header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    .nav_header nav.active {
        left: 0;
    }
    .nav_header nav .nav_list {
        display: block;
        text-align: center;
    }
    .nav_header nav .nav_list .nav_item a {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
}

.nav_sub_list {
    width: 100%;
    display: none;
    background-color: red;
}
.nav_sub_list.show {
    display: block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    color: white;
    display: none;
    position: absolute;
    background-color: #645b5b;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #2196F3;
}

.dropbtn {
    /*background-color: #04AA6D;*/
    color: white;
    background: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
}