.containerUser{
    margin-top: 2rem;
}
.box{
    width: 400px;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #0d0b18;
    background: linear-gradient(312deg,#455bbd1f 2%, rgba(255,255,255,0.2) 87%);
    backdrop-filter: blur(10px);
    border-left: 2px solid #fdfdfd3a;
    border-bottom: 2px solid #43558f1a;
}
.userRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}
.userRow h1{
    font-size: 1rem;
}
.userInput{
    height: 2rem;
    padding-left: 20px;
    border-radius: 1rem;
    border:1px solid #fdfdfd;
    margin-left: auto;
}
.btn-delete{
    font-weight: bolder;
    letter-spacing: 1px;
    width:40%;
    height: 50px;
    background-color: #c83434;
}
.btn-delete:hover, .btn-delete:focus{
    background-color: #ff0000;
    box-shadow: 0 0 7px  #2c2c2cd7;
    transition: 0.2s ease-in-out;
}
.checkBoxInput{
    margin-left: 12.5%;
}