.containerUser{
    margin-top: 2rem;
}

.containerSpacer {
    height: 2rem;
}

.box{
    width: 500px;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #0d0b18;
    background: linear-gradient(312deg,#455bbd1f 2%, rgba(255,255,255,0.2) 87%);
    backdrop-filter: blur(10px);
    border-left: 2px solid #fdfdfd3a;
    border-bottom: 2px solid #43558f1a;
}
.box.mobile {
    width: 350px;
}

.userRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}
.userRow h1{
    font-size: 1rem;
}
/*.userInput{*/
/*    height: 2rem;*/
/*    padding-left: 20px;*/
/*    border-radius: 1rem;*/
/*    border:1px solid #fdfdfd;*/
/*    margin-left: auto;*/
/*}*/
/*.btn-delete{*/
/*    font-weight: bolder;*/
/*    letter-spacing: 1px;*/
/*    width:40%;*/
/*    height: 50px;*/
/*    background-color: #c83434;*/
/*}*/
/*.btn-delete:hover, .btn-delete:focus{*/
/*    background-color: #ff0000;*/
/*    box-shadow: 0 0 7px  #2c2c2cd7;*/
/*    transition: 0.2s ease-in-out;*/
/*}*/
/*.checkBoxInput{*/
/*    margin-left: 12.5%;*/
/*}*/

.userHeading {
    text-align: center;
    font-size: 2rem;
    color: #fdfdfdce;
}

/*user info component*/
.infoContainer {
    margin: 0 20px 0 30px !important;
}

.infoText {
    font-size: 1.0rem;
    color: #fdfdfdce;
}

.infoText.userValue {
    margin-left: 10px;
    color: #04AA6D;
}

.infoText.rowHeading {
    font-size: 1.5rem;
}

.inp {
    width: 100%;
    flex-grow: 1;
}

.btnInf {
    width: 100px;
    height: 40px;
    /*width: 100%;*/
}

.btnInf.mobile.row {
    width: 100%;
}