*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fdfdfdce;
}

input{
    margin: 20px 10px;
    border-radius: 40px;
    background-color: transparent;
    border: transparent;
}
input:focus, input:hover{
    border-radius: 40px;
    outline: none;
}

input .invalid {
    border-radius: 40px;
    outline: red;
}

a{
    color:#33a382;
    text-decoration: none;
}
a:hover{
    color:#48ebba;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.form-name {
    color: #fdfdfdce;
}

.containerLogin {
    /*margin-top: 6rem;*/
    width: 100vw;
    height: 100vh;
}
.rowLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.containerRegist{

    margin-top: 2%;
}
.title{
    padding:10px 15px;
}
.box{
    width: 400px;
    padding: 30px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #0d0b18;
    background: linear-gradient(312deg,#455bbd1f 2%, rgba(255,255,255,0.2) 87%);
    backdrop-filter: blur(10px);
    border-left: 2px solid #fdfdfd3a;
    border-bottom: 2px solid #43558f1a;
}

/* 3. PRELOADER */

.top {
    width: 70px;
    height: 70px;
    position: relative;
    top: 47%;
    left: 48%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 50%;

}
.header{
    padding-bottom: 7px;
    border-bottom: 2px solid #344d5877;
}
button:focus{
    outline: 0;
}
.btn-submit{
    font-weight: bolder;
    letter-spacing: 1px;
    width:40%;
    height: 50px;
    background-color: #2e9274;
}
.btn-submit:hover, .btn-submit:focus{
    background-color: #43d3a8;
    box-shadow: 0 0 7px  #2c2c2cd7;
    transition: 0.2s ease-in-out;
}
.placeholders{
    width: 80%;
    height: 50px;
    padding-left: 15px;
    border:2px solid #fdfdfd;
}
.placeholders:focus{
    border:2px solid #43d3a8;
    box-shadow: 0 0 4px #43d3a8;
    transition: 0.3s ease-in;

}

.modalText{
    background-color: #FFFFFF;
    color: blue;
}
