<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <!-- CSS stylesheets -->
    <link rel="stylesheet" href="login.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <div class="container">
        <div class="row">
            <form class="box">
                <h1 class="form-name">Register</h1>
                <label>
                    <input class="placeholders" type="text" placeholder="Email">
                </label>
                <label>
                    <input class="placeholders" type="text" placeholder="Username">
                </label>
                <label>
                    <input class="placeholders" type="password" placeholder="Password">
                </label>
                <input class="btn-submit" type="submit" name="" value="Register" href="index.html">
                <p class="forgot"> Already have an account? <a href="signin.html">Sign in</a></p>         
            </form>
        </div>
    </div>
</body>
</html>