<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <!-- CSS stylesheets -->
    <link rel="stylesheet" href="login.css" type="text/css">
</head>

<body>
    <div class="container">
        <div class="row">
            <form class="box">
                <h1 class="form-name">Sign In</h1>
                <label>
                    <input class="placeholders" type="text" placeholder="Username">
                </label>
                <label>
                    <input class="placeholders" type="password" placeholder="Password">
                </label>
                <input class="btn-submit" type="submit" name="" value="Sign In" href="index.html">
                <p class="forgot"><a href="#">Forgot Password?</a></p>   
                <p class="forgot"> Don't have an account? <a href="register.html">Create new acount</a></p>         
            </form>
        </div>
    </div>
</body>

</html>