<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <!-- CSS stylesheets -->
  <link rel="stylesheet" href="login.css" type="text/css">
</head>

<body>
<div class="top"></div>
<div class="container-fluid vertical-center">
  <div class="row">
    <form class="box">
      <h1 class="form-name">Sign In</h1>
      <input class="placeholders" type="text" placeholder="Username">
      <input class="placeholders" type="password" placeholder="Password">
      <input class="btn-submit" type="submit" name="" value="Sign In" href="index.html">
      <p class="forgot"><a href="pwReset.html">Forgot Password?</a></p>
      <p class="forgot"> Don't have an account? <a href="register.html">Create new account</a></p>
    </form>
  </div>
</div>

<script src="js/main.js"></script>
</body>

</html>